<!DOCTYPE html>
<html xmln:th="http://www.thymeleaf.org">
	<footer>
		<h1>푸터영역</h1>
		<section class="foot1 view-size-pc flex-pc">
			<div class="foot-logo flex-pc">
				<div><img src="/img/common/harmony-logo.png"></div>
			</div>
			<div class="introduce">
				<p>하모니 주식회사</p>
				<p>팀장 : 인성빈</p>
				<p>부팀장 : 박승환</p>
				<p>서기 : 고형철</p>
				<p>타임키퍼 : 조영진</p>
			</div>
			<div>
				
			</div>
		</section>
		<section class="foot2 view-size-pc">
			
		</section>
	</footer>
</html>