<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
	<head>
	    <th:block th:replace="~{common/mypage-layout::head}" />
	    <link rel="stylesheet" href="/css/mypage/mypage-order.css">
	</head>
	<body>
	    <main>
	        <section class="view-size mypage-main flex between">
				<th:block th:replace="~{common/mypage-layout::mypage-layout-left}" />
				<section class="mypage-rigth">
					<th:block  th:replace="~{common/mypage-layout::mypage-layout-right}" />
					<h1>주문내역조회</h1>
			        <div class="order-title flex">
						<p>주문 내역</p>
						<p>한번에 <span>최대 3개월까지</span> 조회가 가능합니다</p>
					</div>
					<div class="order-search">
						<div>
							<div>
								<input type="radio" id="oneMonth" name="oneMonth">
								<label for="oneMonth">최근1개월</label>
							</div>
						</div>
					</div>
				</section>
			</section>
	    </main>
	</body>
</html>