<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
    <meta charset="UTF-8">
    <title>팔찌</title>
    <link rel="stylesheet" href="/css/sub/sub.css">
</head>
<body>
    <main>
        <div class="logo-bar con">
            <div class="bn-box con">
                <div class="img-box">
                    <img src="/img/sub/sub-main/m-bracelet.jpeg" alt="">
                </div>
            </div>
            <div class="list con">
                <ul class="row">
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br1.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br2.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br3.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br4.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br5.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br6.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br7.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br8.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br9.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br10.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br11.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br12.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br13.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br14.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br15.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br16.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br17.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="/img/sub/bracelet/br18.jpeg" alt=""></div>
                        <div class="product-name">Jewelry </div>
                        <div class="product-price">19800</div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>