<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
    <meta charset="UTF-8">
    <title>목걸이</title>
    <link rel="stylesheet" href="/css/sub/necklace.css">
</head>
<body>
    <main>
        <div class="logo-bar con">
            <div class="logo">
                <img src="http://bnx.oa.gg/img/logo.gif" alt="">

            </div>
            <div class="bn-box con">
                <div class="img-box">
                    <img src="/img/sub/lo.jpeg" alt="">
                </div>
            </div>
            <div class="list con">
                <ul class="row">
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_01_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_02_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_03_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_04_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_05_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_06_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_07_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_08_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_09_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_10_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_11_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_12_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_13_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_14_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_15_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_16_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_17_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                    <li class="cell">
                        <div class="img-box"><img src="http://bnx.oa.gg/img/bnx_16fw_visual_18_list.jpg" alt=""></div>
                        <div class="product-name">단가라 ops</div>
                        <div class="product-price">19800</div>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>