@charset "UTF-8";
.loginlayout{
	width: 1200px;
	margin: auto;
	padding-top: 45px;
	padding-bottom: 120px;
}
.loginmenu{
	width: 730px;
	margin: 0 200px;
	padding-top: 60px;
}
.llogo{
	display: block;
	margin: auto;
	width: 100px;
	height: auto;
}
.llogofontsize{
	text-align: center;
	border-bottom: 1px solid black;
	font-size: 34px;
	padding-top: 10px;
	margin-top: 15px;
	padding-bottom: 16px;
	margin-bottom: 30px;
}
input[type="text"]{
	border-radius: 8px;
	border:1px solid #868e96;
	width: 416px;
	height: 41px;
	padding-left: 14px;
}
input[type="password"]{
	border-radius: 8px;
	border:1px solid #868e96;
	width: 416px;
	height: 41px;
	padding-left: 14px;
}
form{
	width: 434px;
	margin: auto;
}
.login-t{
	padding: 15px 0;
	font-size: 17px;
	font-weight: bold;
	margin-top: 20px;
}
input[type="submit"]{
	border-radius: 8px;
	border:1px solid #868e96;
	width: 434px;
	height: 41px;
	margin-top: 80px;
	cursor: pointer;
	background-color: red;
	color: white;
}
input[type="submit"]:active{
	background-color: indianred;
}
.sub{
	margin: auto;
	border-top: 1px solid #ced4da;
	padding-top: 50px;
	margin-top: 100px;
	width: 300px;
}
h3{
	display: flex;
	justify-content: center;
	font-size: 19px;
	padding-bottom: 10px;
}
.social{
	margin-top: 20px;
}
.socialgroup{
	display: flex;
	margin-top: 20px;
	justify-content: center;
	padding-top: 10px;
}
.socialgroup img{
	width: 70px;
	height: 70px;
	margin: 0 25px;
}
input:focus{
	border: 1.9px solid pink;
	outline: none;
}