@charset "UTF-8";
.signupagree-layout{
	width: 1200px;
	margin: 0 auto;
	padding: 120px 0px 120px 0px;
}
.signup-a-logo{
	display: block;
	margin: auto;
	width: 100px;
	height: auto;
}
.signup-a-menu{
	width: 530px;
	margin: 0 auto;
}
.agree1{
	border-radius: 15px;
	background-color: #f8f8f8;
	padding: 22px 24px 0px 24px;
	margin-bottom: 10px;
}
.signup-a-menu input[type="checkbox"]{
	width: 20px;
	height: 20px;
}
.agree1btn{
	float: right;
	width: 20px;
	height: 20px;
}
.checkboxmenu1{
	padding: 0 0 18px 0px;
	border-bottom: 1px solid #eee;
}
.step-box div{
	margin-bottom: 8px;
}
.step-box a{
	float: right;
	padding-top: 5px;
}
.step-box label{
	font-size: 12px;
}
.step-box{
	padding: 16px 0 6px 0;
}
.last{
	font-size: 10.5px;
	color: #999;
}
.signup-b{
	padding-top: 10px;
}
.signup-b button{
	width: 530px;
	height: 50px;
	border-radius: 8px;
	border: none;
	cursor: pointer;
	background-color: red;
	font-size: 17px;
	color: white;
}
.signup-b button:hover{
	background-color: indianred;
}
.check{
	font-size: 25px;
	border-bottom: 1px solid black;
	padding-bottom: 16px;
	margin-bottom: 30px;
}
.modal-all {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: block;
  width:110%;
  height:110%;
  top:0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-in-all{
    width: 330px;
    height: 520px;
    border: 3px solid #d9d9d9;
    padding: 40px 40px 32px 40px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.closeimg{
	width: 35px;
}
#close-modal{
	position: absolute;
	top: 30px;
	right: 35px;
}
.agree-main{
	padding-bottom: 15px;
	border-bottom: 1px solid black;
	font-size: 30px;
}
.agree-content{
	margin-top: 15px;
	overflow-y: scroll;
	height:450px;
	border: 1px solid rgba(0, 0, 0, 0.5);
}