<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/common/reset-css.css" />
		<link rel="stylesheet" href="/css/users/login.css" />
		<script type="text/javascript" src="/js/users/login.js"></script>
		<meta charset="UTF-8">
		<title>Harmony 로그인</title>
	</head>
	<body>
		<div class="loginlayout">
			<div class="loginmenu">
				<div>
					<img src="/img/common/harmony-logo.png" class="llogo">
				</div>
				<div class="llogofontsize">
					H 로그인
				</div>
				<form action="/login" method="post">
					<div class="email">
						<div class="login-t">
							아이디
						</div>
						<input type="text" placeholder="이메일 주소를 입력해주세요" name="email" class="email">
					</div>
					<div class="password">
						<div class="login-t">
							비밀번호
						</div>
						<input type="password" placeholder="비밀번호를 입력해주세요" name="pass" class="password">
					</div>
					<input type="submit" value="로그인">
				</form>
				<div class="sub">
					<h3>
						간편하게 시작하기
					</h3>
					<div class="social">
						<div class="socialgroup">
							<a href="#"><img src="/img/users/login/google.png"></a>
							<a href="#"><img src="/img/users/login/naver.png"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>