<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/common/reset-css.css" />
		<link rel="stylesheet" href="/css/users/signupagree.css" />
		<script type="text/javascript" src="/js/users/signupagree.js"></script>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<div class="signupagree-layout">
			<div>
				<img src="/img/index/harmony-logo.png" class="signup-a-logo">
			</div>
			<div class="signup-a-menu">
				<div>
					<div class="check">
						약관 동의
					</div>
				</div>
				<div>
					<div class="agree1">
						<div class="checkboxmenu1">
							<input type="checkbox" id="checkbox1" name="all" value='selectall' onclick='selectAll(this)'>
							<label for="checkbox1">Harmony 이용약관 전체동의</label>
						</div>
						<div class="step-box">
							<div >
								<input type="checkbox" id="checkbox2" name="a-check1" onclick="allChecked()">
								<label for="checkbox2">(필수) Harmony 이용약관</label>
								<a onclick="modal1()" id="open-modal">보기</a>
							</div>
							<div >
								<input type="checkbox" id="checkbox3" name="a-check1" onclick="allChecked()">
								<label for="checkbox3">(필수) 개인정보의 필수적인 사항에 대한 수집 이용 동의</label>
								<a href="#">보기</a>
							</div>
							<div >
								<input type="checkbox" id="checkbox4" name="a-check1" onclick="allChecked()">
								<label for="checkbox4">(필수) 개인정보의 필수적인 제 3자 제공에 대한 동의</label>
								<a href="#">보기</a>
							</div>
							<div >
								<input type="checkbox" id="checkbox5" name="a-check1" onclick="allChecked()">
								<label for="checkbox5">(선택) 개인정보의 선택적인 사항에 대한 수집 이용 동의</label>
								<a href="#">보기</a>
							</div>
							<div >
								<input type="checkbox" id="checkbox6" name="a-check1" onclick="allChecked()">
								<label for="checkbox6">(선택) 개인정보의 선택적인 제 3자 제공에 대한 동의</label>
								<a href="#">보기</a>
							</div>
							<div class="last">
								· L.POINT 선택약관에 동의하시면 DM쿠폰발송, 백화점 MVG 선정 등 다양한 혜택을<br>경험하실 수 있습니다.
							</div>
						</div>
					</div>
					<div class="agree1">
						<div class="checkboxmenu1">
							<input type="checkbox" id="checkbox7" name="all2" value='selectall2' onclick="selectAll2(this)">
							<label for="checkbox7">H Point 이용약관 전체동의</label>
						</div>
						<div class="step-box">
							<div >
								<input type="checkbox" id="checkbox8" name="a-check2" onclick="allChecked2()">
								<label for="checkbox8">(필수) Harmony쇼핑 이용약관</label>
								<a href="#">보기</a>
							</div>
							<div >
								<input type="checkbox" id="checkbox9" name="a-check2" onclick="allChecked2()">
								<label for="checkbox9">(필수) 개인정보 수집 및 이용 동의</label>
								<a href="#">보기</a>
							</div>
							<div >
								<input type="checkbox" id="checkbox10" name="a-check2" onclick="allChecked2()">
								<label for="checkbox10">(선택) 옴니서비스 정보 제공·활용 동의</label>
								<a href="#">보기</a>
							</div>
						</div>
					</div>
				</div>
				<div class="signup-b">
					<button onclick="location.href='/users/signup'">다음으로 넘어가기</button>
				</div>
			</div>
		</div>
		<div id="modal" class="modal-all">
			<div class="modal-1 modal-in-all">
				<a onclick="modalc()" id="close-modal"><img class="closeimg" src="/img/users/signup/close.svg"></a>
				<div class="agree-main">
					H.POINT 이용약관
				</div>
				<div class="agree-content">
					법원은 최고법원인 대법원과 각급법원으로 조직된다. 국가는 주택개발정책등을 통하여 모든 국민이 쾌적한 주거생활을 할 수 있도록 노력하여야 한다. 국회는 선전포고, 국군의 외국에의 파견 또는 외국군대의 대한민국 영역안에서의 주류에 대한 동의권을 가진다. 훈장등의 영전은 이를 받은 자에게만 효력이 있고, 어떠한 특권도 이에 따르지 아니한다.

이 헌법중 공무원의 임기 또는 중임제한에 관한 규정은 이 헌법에 의하여 그 공무원이 최초로 선출 또는 임명된 때로부터 적용한다. 국무총리 또는 행정각부의 장은 소관사무에 관하여 법률이나 대통령령의 위임 또는 직권으로 총리령 또는 부령을 발할 수 있다. 근로조건의 기준은 인간의 존엄성을 보장하도록 법률로 정한다.

국가는 농수산물의 수급균형과 유통구조의 개선에 노력하여 가격안정을 도모함으로써 농·어민의 이익을 보호한다. 모든 국민은 종교의 자유를 가진다. 국회가 재적의원 과반수의 찬성으로 계엄의 해제를 요구한 때에는 대통령은 이를 해제하여야 한다. 대통령의 선거에 관한 사항은 법률로 정한다. 대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다.

대통령은 헌법과 법률이 정하는 바에 의하여 공무원을 임면한다. 대통령은 국가의 독립·영토의 보전·국가의 계속성과 헌법을 수호할 책무를 진다. 누구든지 체포 또는 구속을 당한 때에는 즉시 변호인의 조력을 받을 권리를 가진다. 다만, 형사피고인이 스스로 변호인을 구할 수 없을 때에는 법률이 정하는 바에 의하여 국가가 변호인을 붙인다.

비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·출판·집회·결사의 자유, 정부나 법원의 권한에 관하여 특별한 조치를 할 수 있다. 국가는 사회보장·사회복지의 증진에 노력할 의무를 진다. 국가의 세입·세출의 결산, 국가 및 법률이 정한 단체의 회계검사와 행정기관 및 공무원의 직무에 관한 감찰을 하기 위하여 대통령 소속하에 감사원을 둔다.

민주평화통일자문회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 근로자는 근로조건의 향상을 위하여 자주적인 단결권·단체교섭권 및 단체행동권을 가진다. 국가안전보장회의의 조직·직무범위 기타 필요한 사항은 법률로 정한다. 대통령으로 선거될 수 있는 자는 국회의원의 피선거권이 있고 선거일 현재 40세에 달하여야 한다.

모든 국민은 거주·이전의 자유를 가진다. 정당의 설립은 자유이며, 복수정당제는 보장된다. 제1항의 지시를 받은 당해 행정기관은 이에 응하여야 한다. 선거에 있어서 최고득표자가 2인 이상인 때에는 국회의 재적의원 과반수가 출석한 공개회의에서 다수표를 얻은 자를 당선자로 한다. 사면·감형 및 복권에 관한 사항은 법률로 정한다.

대통령후보자가 1인일 때에는 그 득표수가 선거권자 총수의 3분의 1 이상이 아니면 대통령으로 당선될 수 없다. 법률안에 이의가 있을 때에는 대통령은 제1항의 기간내에 이의서를 붙여 국회로 환부하고, 그 재의를 요구할 수 있다. 국회의 폐회중에도 또한 같다. 국가유공자·상이군경 및 전몰군경의 유가족은 법률이 정하는 바에 의하여 우선적으로 근로의 기회를 부여받는다.

중앙선거관리위원회는 대통령이 임명하는 3인, 국회에서 선출하는 3인과 대법원장이 지명하는 3인의 위원으로 구성한다. 위원장은 위원중에서 호선한다. 모든 국민은 학문과 예술의 자유를 가진다. 누구든지 병역의무의 이행으로 인하여 불이익한 처우를 받지 아니한다. 공무원의 직무상 불법행위로 손해를 받은 국민은 법률이 정하는 바에 의하여 국가 또는 공공단체에 정당한 배상을 청구할 수 있다. 이 경우 공무원 자신의 책임은 면제되지 아니한다.
				</div>
			</div>
		</div>
	</body>
</html>