@charset "UTF-8";

.admin-main{
	flex-wrap: wrap;
	padding:40px 40px 60px 40px;
}
.admin-main> div{
	position: relative;
	width:26%;
	border: 1px solid black;
	height:180px;
	border-radius: 25px;
	text-align: center;
}
.admin-main>div>div{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.admin-main>div>div{
	font-size: 1.5rem;
	line-height: 40px;
}