
.item {
    width: 48%;
}
.item img{
    width:100%;
    height:650px;
}
.aa{
    flex-wrap: wrap;
}
.swiper-container>.swiper-slide {
    width: 1200px;
    height: 500px;
}
.swiper-container img {
    width: 100%;
    height: 500px;
    object-fit: fill;
}
#h1-name{
    width: 100%;
    height: 100%;
    font-size: 100px;
    border: 2px solid;
    text-align: center;
    font-style: initial;
}
#bb{
    width: 100%;
    height: 100%;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

li {
    float: left;
    margin-right: 20px;
}

ul.wrap {
    margin: 20px;
}

ul.wrap li a {
    position: relative;
    display: block;
    overflow: hidden;
    width: 250px;
    height: 120px;
    text-align: center;
    line-height: 120px;
    font-size: 2em;
    color: #555;
    transition: all .3s;
}

ul.wrap li a::before {
    position: absolute;
    top: 0;
    left: -85px;
    content: "";
    display: block;
    width: 60px;
    height: 120px;
    transform: skewX(-20deg);
    background-color: rgba(146, 146, 146, 0.8);
}

ul.wrap li a:hover {
    color: #fff;
    background-color: #444;
}

ul.wrap li a:hover::before {
    left: 275px;
    transition: all .4s ease-in;
}