<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/common/reset-css.css">
	<link rel="stylesheet" href="/css/customer/cs.css">
	<style>
		.head3 ul>:nth-child(7) a:not(.user-center-tap) {
		    font-weight: bold;
		    color: black;
		}
	</style>
</head>

<body>
	<main>
		<div class="wrap flex between">
			<section class="CS">
				<ul class="CS1">
					<li>고객센터</li>
				</ul>
				<ul class="CS2">
					<li><a href="/faq">쇼핑 FAQ</a></li>
					<hr color="silver" size="1px">
					<li><a href="/info">공지사항</a></li>
					<hr color="silver" size="1px">
					<li><a href="/qna">1:1 문의하기</a></li>
				</ul>
				<ul class="CS3">
					<li>하모니ON 고객센터</li>
					<li><span class="CSB3">1899-7000</span>(유료)</li>
					<li>월~금요일 09:00 ~ 18:00</li>
					<li>주말,공휴일 휴무</li>
				</ul>
				<ul class="CS4">
					<li>오프라인 매장안내</li>
					<li>매장별 위치/연락처를 확인하세요</li>
					<li><a href="#">하모니마트</a></li>
					<li><a href="#">하모니슈퍼 프레시</a></li>
					<li><a href="#">하모니백화점</a></li>
				</ul>
				<hr color="silver" size="1px">
				<div class="CS5">
					<p>
						<img src="/img/users/img_seller_zone.png" style="width:230px; height:136px;">
					</p>
				</div>
				<div class="CS6">
					<p>
						<img src="/img/users/img_safe_center.png" style="width:230px; height:75px;">
					</p>
				</div>
			</section>
			<section class="SC">
				<img src="/img/users/img.png" style="width:930px; height:210px;">
				<ul class="SC1">
					<li>FAQ 통합검색</li>
				</ul>
				<div class="SC2">
					<a class="search">
						<input type="text" placeholder="궁금하신 내용을 입력해 주세요">
						<button>검색</button>
					</a>
					<a>자주 찾는 문의</a>
					<a href="#">교환반품A/S</a>
					<a href="#">이벤트/혜택</a>
					<a href="#">회원정보</a>
				</div>
				<ul class="SC3">
					<li>쇼핑 FAQ TOP 5</li>
				</ul>
				<ul class="SC5">
					<li>롯데ON 고객센터</li>
				</ul>
				<ul class="SC6">
					<li></li>
				</ul>
				<ul class="SC7">
					<li>공지사항</li>
				</ul>
			</section>
		</div>
	</main>
</body>

</html>