<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/common/reset-css.css">
	<link rel="stylesheet" href="/css/customer/faq.css">
	<style>
		.head3 ul>:nth-child(7) a:not(.user-center-tap) {
		    font-weight: bold;
		    color: black;
		}
	</style>
</head>

<body>
	<main>
		<div class="wrap flex between">
			<section class="CS">
				<ul class="CS1">
					<li>고객센터</li>
				</ul>
				<ul class="CS2">
					<li><a href="/faq">쇼핑 FAQ</a></li>
					<hr color="silver" size="1px">
					<li><a href="/info">공지사항</a></li>
					<hr color="silver" size="1px">
					<li><a href="/qna">1:1 문의하기</a></li>
				</ul>
				<ul class="CS3">
					<div>하모니ON 고객센터</div>
					<div class="CSA3">
						<div class="CSB3">1899-7000</div>
						<div>(유료)</div>
					</div>
					<div>
						월~금요일 09:00 ~ 18:00<br>
						주말,공휴일 휴무
					</div>
				</ul>
				<ul class="CS4">
					<div class="CSA4">오프라인 매장안내</div>
					<li>매장별 위치/연락처를 확인하세요.</li>
					<div class="CSB4">
						<li style="line-height:210%"><a href="#">- 하모니백화점</a></li>
					</div>
				</ul>
				<hr color="silver" size="1px">
				<div class="CS5">
					<p>
						<img src="/img/users/img_seller_zone.png" style="width:230px; height:136px;">
					</p>
				</div>
				<div class="CS6">
					<p>
						<img src="/img/users/img_safe_center.png" style="width:230px; height:75px;">
					</p>
				</div>
			</section>
			<section class="SC">
				<ul class="SC1">
					<li>쇼핑 FAQ</li>
				</ul>
				<div class="SC2">
					<div class="SC2a">
						<div class="SC2b">
							FAQ 검색
						</div>
						<div class="search">
							<input type="text" placeholder="궁금하신 내용을 입력해 주세요.">
							<img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
						</div>
						<div class="searcha">
						</div>
					</div>
				</div>
				<div class="SC3">
					<div class="SC4">
						<div class="space-betweens">
							<button class="tabmenu-button tablink tabmenu-color"
								onclick="openCity(event,'TOP5')">TOP5</button>
							<button class="tabmenu-button tablink" onclick="openCity(event,'교환반품A/S')">교환반품A/S</button>
							<button class="tabmenu-button tablink" onclick="openCity(event,'배송')">배송</button>
							<button class="tabmenu-button tablink" onclick="openCity(event,'이벤트/혜택')">이벤트/혜택</button>
							<button class="tabmenu-button tablink" onclick="openCity(event,'이용안내')">이용안내</button>
							<button class="tabmenu-button tablink" onclick="openCity(event,'주문/결제')">주문/결제</button>
							<button class="tabmenu-button tablink" onclick="openCity(event,'취소/환불')">취소/환불</button>
							<button class="tabmenu-button tablink" onclick="openCity(event,'회원정보')">회원정보</button>
						</div>
						<div class="SC4_1">
							<div id="TOP5" class="city">
								<button class="accordion"><span class="second_misolmi">[반품방법] 반품접수는 어떻게
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[배송일정] 배송 진행상황은 어디서
										조회하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[배송일정] 주문한 상품은 언제쯤 받을 수
										있나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[회원탈퇴] 회원탈퇴는 어떻게
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[주문취소] 주문취소는 어떻게 해야
										되나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
							</div>

							<div id="교환반품A/S" class="city" style="display:none">
								<button class="accordion"><span class="second_misolmi">[교환방법] 반품을 교환으로 변경하고 싶어요. 어떻게
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[교환방법] 교환접수는 어떻게
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[교환방법] 빈품접수는 어떻게
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[반품취소] 반품접수를 취소/철회하고 싶은데,
										어떻게 해야하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
							</div>


							<div id="배송" class="city" style="display:none">
								<button class="accordion"><span class="second_misolmi">[오늘발송] 백화점 상품중에 오늘발송이
										뭔가요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[오늘발송] 백화점 오늘발송으로 주문했는데 주소 변경이
										안되나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[배송방법] 바로배송은
										무엇인가요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[배송] 상품은 언제
										발송되나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
							</div>

							<div id="이벤트/혜택" class="city" style="display:none">
								<button class="accordion"><span class="second_misolmi">[체험단] 하모니체험단은 어떻게 될 수 있나요? 선정기준은
										어떻게
										되나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[온마일리지] 교환소 쿠폰은 적용 조건이 어떻게
										되나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[구매사은] 구매사은이벤트는
										무엇인가요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[이벤트/경품] 이벤트 당첨 확인은 어디서
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
							</div>

							<div id="이용안내" class="city" style="display:none">
								<button class="accordion"><span class="second_misolmi">[고객센터] 고객센터 전화번호와 운영시간을
										알려주세요</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[매장관련] 매장/지점 위치, 연락처, 영업시간 정보는
										어디서
										확인할 수
										있나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[고객센터] 고객불만 또는 불편사항 처리는 어떻게 진행
										되나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[채팅상담] 1:1문의한 내용과 답변은 어디서
										확인하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
							</div>

							<div id="주문/결제" class="city" style="display:none">
								<button class="accordion"><span class="second_misolmi">[간편결제] 간편결제가
										무엇인가요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">간편결제 은행계좌는 어떻게
										등록하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[애플페이] 애플페이(Apple Pay) 결제는 어떻게
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[주문내역] 나의 주문내역은 어떻게
										확인하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[결제방법] 이용 가능한 결제수단은 무엇이
										있나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
							</div>

							<div id="취소/환불" class="city" style="display:none">
								<button class="accordion"><span class="second_misolmi">[환불일정] 결제수단별 환불시점 및 환불수단은 어떻게
										되나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[환불방법] 환불계좌 등록 및 변경은 어떻게
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[카드환불] 환불이 완료되었다고 하는데 카드 취소가 안되어
										있어요.</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[환불예정금] 환불예정금은 어떻게
										환불받나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
							</div>

							<div id="회원정보" class="city" style="display:none">
								<button class="accordion"><span class="second_misolmi">[회원탈퇴] 회원탈퇴는 어떻게
										하나요??</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[로그인] 아이디/비밀번호 어떻게
										찾나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[정보변경] ID를 변경하고
										싶어요</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
								<button class="accordion"><span class="second_misolmi">[정보변경] 개명했는데 이름 변경은 어떻게
										하나요?</span></button>
								<div class="panel">
									<p><span class="second_misolmis">몰라</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>



				<script>
					var acc = document.getElementsByClassName("accordion");
					var i;

					for (i = 0; i < acc.length; i++) {
						acc[i].addEventListener("click", function () {
							this.classList.toggle("active");
							var panel = this.nextElementSibling;
							if (panel.style.maxHeight) {
								panel.style.maxHeight = null;
							} else {
								panel.style.maxHeight = panel.scrollHeight + "px";
							}
						});
					}


					function openCity(evt, cityName) {
						var i, x, tablinks;
						x = document.getElementsByClassName("city");
						for (i = 0; i < x.length; i++) {
							x[i].style.display = "none";
						}
						tablinks = document.getElementsByClassName("tablink");
						for (i = 0; i < x.length; i++) {
							tablinks[i].className = tablinks[i].className.replace(" tabmenu-color", "");
						}
						document.getElementById(cityName).style.display = "block";
						evt.currentTarget.className += " tabmenu-color";
					}
				</script>
		</div>
		</div>
		</section>
		</div>
	</main>
</body>

</html>