<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/common/reset-css.css">
	<link rel="stylesheet" href="/css/customer/info.css">
	<style>
		.head3 ul>:nth-child(7) a:not(.user-center-tap) {
			font-weight: bold;
			color: black;
		}
	</style>
</head>

<body>
	<main>
		<div class="wrap flex between">
			<section class="CS">
				<ul class="CS1">
					<li>고객센터</li>
				</ul>
				<ul class="CS2">
					<li><a href="/faq">쇼핑 FAQ</a></li>
					<hr color="silver" size="1px">
					<li><a href="/info">공지사항</a></li>
					<hr color="silver" size="1px">
					<li><a href="/qna">1:1 문의하기</a></li>
				</ul>
				<ul class="CS3">
					<li>하모니ON 고객센터</li>
					<li><span class="CSB3">0000-0000</span>(유료)</li>
					<li>월~금요일 09:00 ~ 18:00</li>
					<li>주말,공휴일 휴무</li>
				</ul>
				<ul class="CS4">
					<div class="CSA4">오프라인 매장안내</div>
					<li>매장별 위치/연락처를 확인하세요.</li>
					<div class="CSB4">
						<li style="line-height:210%"><a href="#">하모니 쥬얼리</a></li>
					</div>
				</ul>
				<hr color="silver" size="1px">
				<div class="CS5">
					<p>
						<img src="/img/users/img_seller_zone.png" style="width:230px; height:136px;">
					</p>
				</div>
				<div class="CS6">
					<p>
						<img src="/img/users/img_safe_center.png" style="width:230px; height:75px;">
					</p>
				</div>
			</section>
			<section class="SC">
				<ul class="SC1">
					<li>공지사항</li>
				</ul>
				<div class="SC2">
					<div class="SC2a">
						<div class="SC2b">
							검색
						</div>
						<div class="search">
							<input type="text" placeholder="궁금하신 내용을 입력해 주세요.">
							<img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
						</div>
						<div class="searcha">
						</div>
					</div>
				</div>
				<div class="board_list">
					<div class="top">
						<div class="num">번호</div>
						<div class="title">제목</div>
						<div class="date">작성일</div>
						<div class="count">조회</div>
					</div>
					<div>
						<div class="num">5</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="date">2000.00.00</div>
						<div class="count">33</div>
					</div>
					<div>
						<div class="num">4</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="date">2000.00.00</div>
						<div class="count">33</div>
					</div>
					<div>
						<div class="num">3</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="date">2000.00.00</div>
						<div class="count">33</div>
					</div>
					<div>
						<div class="num">2</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="date">2000.00.00</div>
						<div class="count">33</div>
					</div>
					<div>
						<div class="num">1</div>
						<div class="title"><a href="#">글 제목이 들어갑니다.</a></div>
						<div class="date">2000.00.00</div>
						<div class="count">33</div>
					</div>
				</div>
				<div class="board_page">
					<a href="#" class="bt prev"><<</a>
					<a href="#" class="bt first"><</a>
					<a href="#" class="num on">1</a>
					<a href="#" class="num">2</a>
					<a href="#" class="num">3</a>
					<a href="#" class="num">4</a>
					<a href="#" class="num">5</a>
					<a href="#" class="bt next">></a>
					<a href="#" class="bt last">>></a>
				</div>
				<div class="adminbut" th:if="${#authentication.principal.admin}">
					<form th:action="@{/infoadmin}" method="get">
						<button class="adminbutton">게시물 작성</button>
					</form>
				</div>
			</section>
		</div>
	</main>
</body>

</html>