<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{common/layout :: commonLayout(~{this::head}, ~{this::main})}">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/common/reset-css.css">
	<link rel="stylesheet" href="/css/customer/qna.css">
	<style>
		.head3 ul>:nth-child(7) a:not(.user-center-tap) {
			font-weight: bold;
			color: black;
		}
	</style>
</head>

<body>
	<main>
		<div class="wrap flex between">
			<section class="CS">
				<ul class="CS1">
					<li>고객센터</li>
				</ul>
				<ul class="CS2">
					<li><a href="/faq">쇼핑 FAQ</a></li>
					<hr color="silver" size="1px">
					<li><a href="/info">공지사항</a></li>
					<hr color="silver" size="1px">
					<li><a href="/qna">1:1 문의하기</a></li>
				</ul>
				<ul class="CS3">
					<li>하모니ON 고객센터</li>
					<li><span class="CSB3">0000-0000</span>(유료)</li>
					<li>월~금요일 09:00 ~ 18:00</li>
					<li>주말,공휴일 휴무</li>
				</ul>
				<ul class="CS4">
					<div class="CSA4">오프라인 매장안내</div>
					<li>매장별 위치/연락처를 확인하세요.</li>
					<div class="CSB4">
						<li style="line-height:210%"><a href="#">하모니 쥬얼리</a></li>
					</div>
				</ul>
				<hr color="silver" size="1px">
				<div class="CS5">
					<p>
						<img src="/img/users/img_seller_zone.png" style="width:230px; height:136px;">
					</p>
				</div>
				<div class="CS6">
					<p>
						<img src="/img/users/img_safe_center.png" style="width:230px; height:75px;">
					</p>
				</div>
			</section>
			<section class="SC">
				<ul class="SC1">
					<li>1:1 문의하기</li>
				</ul>
				<div class="customerinputform">
					<div class="qna">
						<div class="title_0">
							<div class="title_1">
								제목
							</div>
							<div class="title">
								<input type="text" maxlength="30" id="titl">
							</div>
						</div>
						<div class="msg_0">
							<div class="msg_1">
								내용
							</div>
							<div class="msg">
								<textarea maxlength="5000" id="message"></textarea>
							</div>
						</div>
						<div class="pho_0">
							<div class="pho_1">
								사진첨부
							</div>
							<span class="upload-img">
                                <label class="btn-img">
                                    <input type="file" accept="image/*" idx="1" onchange="changedImgSub(this)">
                                    <input type="hidden" class="tempKey" name="tempKey">
                                    <input type="hidden" class="orgName" name="orgName">
                                    <input type="hidden" class="check" name="checkImg" value="0">
                                    <span class="main-img-plus">+</span> <!-- 이미지를 올리기 전에 텍스트 또는 아이콘 등을 보여줄 부분 추가 -->
                                    <img class="preview-image" id="previewImage" src="#" alt="미리보기">
                                </label>
                            </span>
						</div>
						<div class="checkbox">

						</div>
					</div>
					<div class="BUT">
						<button>문의하기</button>
					</div>
				</div>
			</section>
		</div>
	</main>
	 <!-- 이미지 미리보기를 위한 JavaScript 코드 추가 -->
     <script>
        function changedImgSub(input) {
            var file = input.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    // 선택된 이미지를 미리보기하는 이미지 태그에 적용
                    document.getElementById('previewImage').src = e.target.result;
                    // 이미지를 선택한 후에는 버튼을 숨김, 미리보기 영역을 보이게 변경
                    input.parentNode.querySelector('.btn-img span.main-img-plus').style.display = 'none';
                    input.parentNode.querySelector('.preview-image').style.display = 'block';
                };
                reader.readAsDataURL(file);
            }
        }

        function uploadProduct() {
            // 여기에 상품 등록하는 로직을 추가하세요.
            alert('상품이 등록되었습니다!');
            // 상품 등록 후에는 미리보기 이미지를 초기화
            document.getElementById('previewImage').src = '';
            // 버튼 및 미리보기 영역을 초기 상태로 변경
            var uploadImgContainer = document.querySelector('.upload-img');
            uploadImgContainer.querySelector('.btn-img span.main-img-plus').style.display = 'inline-block';
            uploadImgContainer.querySelector('.preview-image').style.display = 'none';
            // 여기에서 상품 등록 후의 추가 작업을 수행할 수 있습니다.
        }
    </script>
</body>

</html>