@charset "UTF-8";

main>.wrap {
	width: 1200px;
	margin: 0 auto;
	padding: 20px;
	line-height: 30px;
}

.CS {
	width: 230px;
}

.CS1 {
	font-size: 36px;
	line-height: 1.39;
	letter-spacing: -1.1px;
	margin-bottom: 0;
	padding: 0 0 29px;
}

.CS2 {
	font-size: 14px;
	text-decoration-line: none;
	line-height: 50px;
	border-bottom: 1px solid #333;
	padding-bottom: 8px;
}

.CS3 {
	font-size: 14px;
	text-decoration-line: none;
	line-height: 50px;
	border-bottom: 1px solid #eee;
	padding-top: 33px;
	padding-bottom: 23px;
}

.CS4 {
	font-size: 13px;
	border-bottom: 1px solid #eee;
	padding-top: 24px;
	padding-bottom: 12px;

}

.CS5 {
	margin-top: 24px;

}

.CS6 {
	margin-top: 24px;

}

.SC {
	width: 930px;
}

.SC1 {
	margin-top: 80px;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -.029em;
	margin-bottom: 20px;
}

.SC2 {
	padding: 30px;
	border-radius: 10px;
	background: #f8f8f8;
	font-size: 13px;
	text-align: center;
}

.search {
	width: 722px;
	margin: 0 auto;
}

.SC3 {
	font-size: 24px;
	justify-content: space-between;
	display: flex;
	position: relative;
	overflow: hidden;
	margin: 80px 0 0;
}

.SC5 {
	margin-top: 80px;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -.029em;
	margin-bottom: 20px;
}

.SC6 {
	position: relative;
	padding: 23px 30px 30px;
	border-radius: 10px;
	background: #f8f8f8;
	font-size: 14px;
	line-height: 21px;
	letter-spacing: -.02em;
}

.SC7 {
	margin-top: 80px;
	position: relative;
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -.029em;
	margin-bottom: 20px;

}