@charset "UTF-8";

.head3 ul>:nth-child(1) a:not(.user-center-tap) {
	font-weight: normal !important;
	color: #aaa !important;
}

.head3 ul>:nth-child(1) a:hover:not(.user-center-tap) {
	color: black !important;
}

main>.wrap {
	width: 1200px;
	margin: 0 auto;
	padding: 20px;
	line-height: 30px;
}

.CS {
	width: 230px;
}

.CS1 {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.39;
	letter-spacing: -1.1px;
	margin-bottom: 0;
	padding: 0 0 29px;
}

.CS2 {
	font-size: 14px;
	text-decoration-line: none;
	line-height: 50px;
	border-bottom: 1px solid #333;
	padding-bottom: 8px;
}

.CS3 {
	font-size: 12px;
	text-decoration-line: none;
	line-height: 28px;
	border-bottom: 1px solid #eee;
	padding-top: 33px;
	padding-bottom: 23px;
}

.CSA3 {
	display: flex;
}

.CSB3 {
	font-size: 28px;
	font-weight: 700;
}

.CS4 {
	border-bottom: 1px solid #eee;
	padding-top: 24px;
	padding-bottom: 12px;
	font-size: 15px;

}

.CSA4 {
	font-weight: 1000;
}

.CSB4 {
	line-height: 1.57;
	letter-spacing: -.3px;
	color: #333;
	padding-bottom: 12px;
	text-decoration: underline;
	margin: 15px 0px;
}

.CS5 {
	margin-top: 24px;

}

.CS6 {
	margin-top: 24px;

}

.SC {
	float: right;
	padding-left: 54px;
	width: 930px;
}

.SC1 {
	font-size: 24px;
	line-height: 34px;
	letter-spacing: -.029em;
	margin-bottom: 20px;
}

.qna {
	border-top: 1px solid #333;
}

.CS2>:nth-child(5)>a {
	font-weight: bold;
}

.title_0 {
	display: flex;
}

.title_1 {
	padding-top: 30px;
	vertical-align: top;
	font-size: 24px;
	letter-spacing: -.019em;
	text-align: left;
	padding-right: 30px;
}

.title {
	padding-top: 25px;
	vertical-align: middle;
}

#titl {
	width: 600px;
	height: 35px;
	font-size: 18px;
	border-radius: 10px;
	padding-left: 10px;
	border: 1px solid rgb(192, 192, 192);
	vertical-align: middle;
}

.msg {
	margin-top: 5px;
}

.msg_0 {
	padding-top: 28px;
}

.msg_1 {
	padding-top: 12px;
	vertical-align: top;
	font-size: 23px;
	letter-spacing: -.019em;
	text-align: left;
	padding-right: 60px;
}

#message {
	width: 890px;
	height: 400px;
	border-radius: 10px;
	border: 1px solid rgb(192, 192, 192);
	font-size: 19px;
	padding: 10px;
}

.msg {
	padding-top: 15px;
}

.pho_1{
	padding-top: 40px;
	font-size: 23px;
}

.BUT {
	margin-top: 30px;
	padding-top: 40px;
	border-top: 1px solid #eee;
	text-align: center;
}
	
.upload-img {
    display: inline-block;
}

.btn-img {
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255); /* 버튼 배경 색상 */
    color: #fff; /* 버튼 텍스트 색상 */
    padding: 8px 12px; /* 버튼 여백 조절 */
    border-radius: 4px; /* 버튼 모서리 둥글게 */
}

.btn-img input[type=file] {
    font-size: 100px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.main-img-plus {
    font-size: 30px; /* 플러스 아이콘 크기 조절 */
    margin-right: 5px; /* 플러스 아이콘과 텍스트 간 여백 조절 */
}

.preview-image {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
    display: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}